streamlit==1.38.0
streamlit-authenticator==0.3.2
streamlit-folium==0.18.0
folium==0.17.0
pandas==2.2.2
geopy==2.4.0
gspread==6.1.2
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
